// ************************************** //
//            PORTFOLIO CSS               //
// ************************************** //
.portfolio-wrapper {
  margin: 0;
  padding: 0;
  padding-bottom: 75px;
  min-height: 100vh;
  height: auto;
  background-color: #101010;
}

.portfolio-container {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1em;
  box-sizing: border-box;
  max-width: 1080px;
  margin: 0 auto;
  padding: 25px 50px;
  background-color: #1a1a1a;
  color: #dcdcdc;
}

.p-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 20px;
}

.info,
.pic {
  margin: 0 auto;
  overflow: hidden;
}
.info {
  h4 {
    margin-bottom: 0;
  }
  display: flex;
  width: 50%;
  flex-direction: column;
  span {
    color: #525959;
    font-size: 14px;
    flex-direction: row;
  }
}

img {
  padding: 25px;
  min-width: 300px;
  border: 1px solid rgb(100, 100, 100);
  width: 150px;
  &:hover {
    transition: 0.25s;
    border: 1px solid rgb(219, 219, 219);
  }
}
// ----------------------------------
//        Media Screen < 1000px
// ----------------------------------
@media only screen and (max-width: 1000px) {
  .portfolio-wrapper {
    padding-top: 50px;
  }
  .portfolio-container {
    width: 90%;
    padding: 0;
  }

  .navbar-container {
    width: 80%;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
      color: #488a99;
      padding: 0 10px;
      margin: 0 30px;
      &:hover {
        color: #488a99;
        border-bottom: #488a99 solid 3px;
      }
    }
  }

  .p-container {
    flex-direction: column;
  }
  .info {
    width: 90%;
  }
  img {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    // min-width: 350px;
    border: 1px solid rgb(100, 100, 100);
    width: 150px;
    &:hover {
      transition: 0.25s;
      border: 1px solid rgb(219, 219, 219);
    }
  }
}
